<div class="neighborhoods-container">

  <div class="hood-header">
    <h1>Hood</h1>
  </div>

  <div class="neighborhood-body-container">
    <% @neighborhoods.each do |neighborhood| %>

    <div class="card">
      <img class="card-img-top" src="<%= neighborhood.hood_pic %>" alt="<%=neighborhood.name%>">
      <div class="hood-index">
        <div class="card-text"><h3><%= link_to neighborhood.name, neighborhood_path(neighborhood) %></h3></div>
      </div>
    </div>


    <%# <img class="hood-pic" src=<%= neighborhood.hood_pic %>

    <% end %>
  </div>

</div>
