// Place all the styles related to the Activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.prime_activity {
  width: 80%;
  margin: 0 auto;
}

.reviews {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 4px;
}

.top h2 {
  text-align: center;
}
.act-text {
  width: 100%;
  margin-left: 1%;
}

.act-info {
  display: flex;
}

.reviews .card {
  width: 100%;
}



.review-pic img {
  object-fit: cover;
  width: 10em;
  height: 10em;
  margin-right: 15px;
}

.dd-tag {
  margin-left: 10%;
}
