/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */

 @import "bootstrap";
@import "neighborhoods";
@import "activities";
@import "users";
@import "sessions";
@import "reviews";

#navbar {
  background-color: #ace1af;
}

// body {
//   background-color: #BFD1E5;
// }

.btn {
  font-size: 25px;
  // border: solid;
  // border-color: black;
}

.btn a {
  color: #fff;
}

.btn a:hover {
  text-decoration: none;
}

.btn a:visited {
  text-decoration: none;
}

.btn-outline-danger {
  position: absolute;
  right: 0px;
}

.form-container {
  width: 80%;
  margin: 0 auto;
}
