/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */

 @import "bootstrap";
@import "neighborhoods";
@import "activities";
@import "users";
@import "sessions";
@import "reviews";

#navbar {
  background-color: #ace1af;
}

body {
  background-color: #fffffb;
}

.btn {
  font-size: 25px;
  // border: solid;
  // border-color: black;
}

.btn a {
  color: #fff;
}

.btn a:hover {
  text-decoration: none;
}

.btn a:visited {
  text-decoration: none;
}

.btn-outline-danger {
  position: absolute;
  right: 0px;
}

.form-container {
  width: 80%;
  margin: 0 auto;
}

.new_activity {
  textarea,
  input[type=text] {
    width: 40%;
  }
}

input[type=number] {
  width: 20%;
}

textarea,
input[type=text],
input[type=password],
input[type=number] {
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

select {
    width: 40%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.background-log-in {
  background-image: url("/assets/log-in-pic.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-log-in {
  background-color: rgba(0, 0, 0, 0.45);
  height: 60%;
  width: 25%;
  padding: 20px 5px;
}
