// Place all the styles related to the Neighborhoods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hood-header h1 {
  font-size: 80px;
}

.neighborhoods-container {
  background-color: #ace1af;
}

.hood-header {
  font-family: 'Heebo', sans-serif;
  text-align: center;
}

.neighborhood-body-container {

  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  margin: 1em 0;
}

.hood-index {
  position: absolute;
  justify-content: center;
  top: 44%;
  right: 0%;
  text-align: center;
  width: 100%;
}

.hood-index a {
  color: #fff;
  padding: .5em 1em;
  background-color: #000
}

.hood-index a:hover {
  font-weight: 700;
  color: #000;
  background-color: transparent;
  text-decoration: none;
}

.hood-index a:visited {
  text-decoration: none;
}

.card-img-top {
  width: auto;
  height: 15em;
  object-fit: cover;
}

.hood-pic {
  margin: 1em;
  height: 50vh;
  width: auto;
  border: solid;
  border-color: blue;
}

.card-body {
  display: flex;
  flex-direction: row;
  padding-bottom: 0px;
}

.prime {
  display: flex;
  width: 98%;
  margin: 0 auto;

  &.Times-Square {
    background-image: url("/assets/Times Square.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.left {
  width: 30%;
  padding: .5em;
}

.left h1 {
  position: center;
}

.right {
  flex-grow: 1;
}

// .activity {
//   border: dashed blue;
//   margin: 10px;
//   text-align: center;
//   font-size: 20px;
//   height: 80px;
//
// }

.card-title img {
  object-fit: cover;
  width: 8em;
  height: 8em;
}

.hood-act-pic a {
  position: absolute;
  justify-content: center;
}


.card-text:last-child {
  margin: 10px;
}

.act-each {
  height: 200px;
}
